{% extends 'layout/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/tableau.css') }}">
{% endblock %}

{% block content %}
    <h2>Courriers envoyés</h2>

    {# Afficher les messages flash en haut du tableau #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <table class="custom-table">
        <thead>
            <tr>
                <th>Destinataires</th>
                <th>Objet</th>
                <th>Date d'envoi</th>
                <th>Message</th>
                <th>Statut</th>  {# Nouvelle colonne pour le statut #}
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for courrier in courriersEnvoyes %}
                {# Vérifiez que le courrier n'est pas masqué #}
                {% if not courrier.supprimeExpediteur %}
                <tr>
                    <td>
                        {% for destinataire in courrier.destinataire %}
                            <strong>TO :</strong> {{ destinataire.email }}
                            {% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ courrier.objet }}</td>
                    <td>{{ courrier.dateEnvoi|date('d/m/Y') }}</td>
                    <td>{{ courrier.message }}</td>
                    <td>Envoyé</td>  {# Statut statique #}
                    <td>
                        <a href="{{ path('ouvrir_courrier', {'id': courrier.id}) }}" class="btn">Ouvrir</a>
                        <a href="{{ path('supprimer_courrier', {'id': courrier.id}) }}" class="btn btn-danger" 
                           onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce courrier ?');">Supprimer</a>
                    </td>
                </tr>
                {% endif %}
            {% else %}
                <tr>
                    <td colspan="6">Aucun courrier envoyé</td>  {# Ajustez le colspan pour inclure la nouvelle colonne #}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
