{% extends 'base.html.twig' %}

{% block body %}
    <h1>Mes Courriers</h1>

    <h2>Courriers Envoyés</h2>
    <ul>
        {% for courrier in courriersEnvoyes %}
            <li>{{ courrier.objet }} - {{ courrier.dateEnvoie|date('Y-m-d H:i') }}</li>
        {% endfor %}
    </ul>

    <h2>Courriers Reçus</h2>
    <ul>
        {% for courrier in courriersRecus %}
            <li>
                {{ courrier.objet }} - {{ courrier.dateEnvoie|date('Y-m-d H:i') }}
                {% if not courrier.estRecu %}
                    <a href="{{ path('courrier_marquer_recu', {id: courrier.id}) }}">Marquer comme reçu</a>
                {% else %}
                    <span> - Reçu</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
