<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mon site {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/tableau.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="nav-col">
<h1 style = "background: url('/uploads/courriers/logo.jpg');
background-size: contain; 
width: 20px;
height: 20px;
border-radius: 30%;
padding: 20px; 
text-align: center; 
display: inline-block; "></h1>
 <h1 style="font-size:2rem; color: white; border-radius:20px">Tresor Public</h1> 
    <ul>
        {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('courrier_new') }}">Nouveau Courrier</a></li>
            {% endif %}
        <li><a href="{{ path('app_courrier') }}">Mes Courriers</a></li>
            {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_historique') }}"> Historique</a></li>
            {% endif %}
    </ul>
</nav>


<nav class="nav-row">
    <ul>
        <li><a href="{{ path('app_user') }}">Compte</a></li>
        <li><a href="{{ path('app_logout') }}">Déconnecter ?</a></li>
    </ul>
</nav>

<main>
    {% block content %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} fade show" role="alert" id="flash-message">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endblock %}
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    setTimeout(function() {
        var alert = document.getElementById('flash-message');
        if (alert) {
            alert.classList.remove('show');
            alert.classList.add('fade');
            setTimeout(function() {
                alert.remove();
            }, 500);
        }
    }, 3000);
</script>

</body>
</html>
