<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Mon site {% endblock %} </title>
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/tableau.css') }}">
	</head>
  <body>
    <header>
      <nav>

        <ul>
          <li><a href= "{{ path('app_courrier' )}}">Mes courrier</a></li>
          <li><a href= "{{ path('app_mes_courriers' )}}">Courrier Recus</a></li>
          <li><a href= "{{ path('app_courrier_envoyer' )}}">Courrier Envoyer</a></li>
        </ul>
      </nav>
    </header>

      <main>
      {# <div class="colonne">
      <ul >
          <li><a href= " {{ path('app_courrier' )}} ">Courrier</a></li>
          <li><a href= "/ouvrir courrier">A propos</a></li>
          <li><a href= "/">Contact</a></li>
        </ul>
        </div> #}
        {% block content %}
      
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mon Site. Tous droits réservés.</p>
    </footer>

      </body>    
</html>
