{% extends 'base.html.twig' %}
{% block stylesheets %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

{% endblock %}
{% block title %}Modifier Utilisateur{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4" style="text-align:center">Modifier Utilisateur</h1>

        {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
            <div class="mb-3">
                {{ form_label(form.email, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.email) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.nom, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.prenom, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prenom) }}
            </div>

            <div class="mb-3">
                {{ form_label(form.password, null, {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.password) }}
            </div>

            <button type="submit" class="btn btn-primary" style="margin:12px 0 12px">Enregistrer</button>
        {{ form_end(form) }}

        <a href="{{ path('app_user') }}" class="btn btn-secondary mt-3" >Retour</a>
    </div>
{% endblock %}
